@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Issues";
}
@{
    var user = HttpContextAccessor.HttpContext.User;
    var isAdmin = user.IsInRole("Admin");
}

@model List<Issue>

<div class="container mt-4">
    <h1 class="display-4 text-center">Issues</h1>
    <br />
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">
                    Application Name
                </th>
                <th scope="col">
                    Description
                </th>
                <th scope="col">
                    Date
                </th>
                <th scope="col">
                    Severity
                </th>
                <th scope="col">
                    Status
                </th>
                <th scope="col">
                    Actions
                </t>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var issue in Model)
                {
                    <tr>
                    
                        <td class="text-left">
                            @issue.Application?.Name
                        </td>
                        <td>
                            @issue.Description
                        </td>
                        <td>
                            @issue.Created
                        </td>
                        <td>
                            @issue.Severity
                        </td>
                        <td>
                            @issue.Status
                        </td>
                        <td>
                        @if (isAdmin)
                        {
                                <a asp-action="EditIssue" asp-route-id="@issue.Id" class="btn btn-warning btn-sm mr-2>Edit</a>
                            // <a href="javascript:void(0);" onclick="confirmDelete(@issue.Id)">Delete</a>

                            // <a asp-action = "DeleteIssue" asp-route-id = "@issue.Id">Delete</a>


                            // @if (issue.DeveloperId == null && issue.Tester.Id == null)
                                @if (issue.DeveloperId == null && issue.TesterId == null  && issue.Status != "Fixed")

                            {
                                    <a href="@Url.Action("AssignDeveloper", "Home", new { id = issue.Id })" class="btn btn-primary btn-sm">Assign Issue</a>
                            }
                                else
                                {
                                    <span class="text-muted" style="white-space: nowrap;">Issue assigned</span>
                                }
                        }
                        </td>
                    
                    </tr>
                }
            }

        </tbody>

    </table>
</div>


